*.json
*.pyc
__pycache__
data
!data/trivia/*
!data/audio/playlists/*
*.exe
*.dll
.idea/CouncilBot.iml
.idea/misc.xml
.idea/vcs.xml
.idea/modules.xml
.idea/workspace.xml
start_red.bat
start_red_autorestart.bat
